* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Hind", sans-serif;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
header {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  text-decoration: none;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0%;
  background-color: #2c3e50;
  color: white;
  z-index: 999;
}
/* nav-bar start*/
.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0px;
  background-color: black;
  color: white;
  height: 50px;
  text-decoration: none;
  position: sticky;
  position: fixed;
  z-index: 999;
}

.nav-bar li {
  margin: 1%;
}

li button {
  text-decoration: none;
  font-size: 30px;
  color: red;
  outline: none;
}
.menu-button {
  border: none;
  font-family: "Hind", sans-serif;
  background: transparent;
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.menu-button:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  font-size: 16px;
}
/*nav-bar slutt*/

/*bilde-header start*/

.bilde-header {
  width: 100%;
  display: flex;
  border-bottom: solid black 5px;
  transition: 0.8s;
}
.bilde-header:hover {
  opacity: 0.8;
  border-bottom: 1px solid black;
}

.img1 {
  height: 28vh;
  width: 31%;
  object-fit: cover;
}

.img2 {
  height: 28vh;
  width: 38%;
  object-fit: cover;
}

.img3 {
  height: 28vh;
  width: 31%;
  object-fit: cover;
}

.mainpicture {
  display: flex;
  background: linear-gradient(to right, #bdc3c7, #849eb8);
}

.bilde {
  flex-basis: 50%;
  object-fit: cover;
  width: 40%;
  height: 400px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0, 5);
}
/*bilde-header slutt*/

.text-div {
  flex-basis: 50%;
  color: black;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 80%;
}

/* del 2 start */
.del2 {
  background: linear-gradient(to right, #bdc3c7, #849eb8);
}
.runde2 {
  object-fit: cover;
  width: 40%;
  height: 400px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0, 5);
}
.bilde-midten {
  display: flex;
}
.bilde-midten img {
  width: 33.3%;
}

/* del 2 slutt*/

/*spørreskjema start */

.container {
  width: 80vw;
  background: url(https://i.pinimg.com/originals/54/31/0a/54310a09179e78faa8ec4e4644464626.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 40px 100px;
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
}
.container p {
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
  color: rgb(118, 241, 255);
  text-shadow: 0px 0px 6px white;
  letter-spacing: 1px;
}
.input,
.msg .area {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transition: all 0.5s ease;
}

.login .input {
  width: 48;
  float: left;
  margin-right: 4%;
}

.login .input:last-child {
  margin-right: 0;
}

.msg .area {
  height: 200px;
}
.btn {
  width: 250px;
  background: #486255;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
}

input:focus,
.msg .area:focus {
  border: 2px solid #486255;
}

::-webkit-input-placeholder {
  font-family: "roboto", sans-serif;
}
::-moz-input-placeholder {
  font-family: "roboto", sans-serif;
}
::-ms-input-placeholder {
  font-family: "roboto", sans-serif;
}
/*spørreskjema slutt */

/*footer start*/

.footer1 {
  margin-left: 100px;
  padding: 50px 0;
  justify-content: center;
}

footer {
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  background-color: #191919;
  color: white;
}

.contactinfo {
  white-space: nowrap;
}

.footer2 {
  margin-left: 200px;
  width: 200px;
}
.footer2,
.footer1 li {
  list-style: none;
}
#knapp5 {
  scroll-margin-top: 108px;
}

#knapp4 {
  scroll-margin-top: 108px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 40px;
    width: auto;
  }
  header {
    width: auto;
    font-size: 20px;
  }
  .text-div {
    width: 70%;
  }

  .footer1,
  .footer2 {
    margin-left: 100px;
    padding: 50px 0;
    width: auto;
    font-size: 10px;
  }
  .menu-button {
    font-size: 10px;
    width: auto;
  }

  .bilde {
    width: 100%;
  }
  .nav-bar {
    width: 100%;
  }
  .nav-bar ul {
    width: 100%;
    display: flex;
  }
  .bilde-header,
  .img1,
  .img2,
  .img3 {
    display: block;
    width: 100%;
    justify-content: center;
    object-fit: cover;
  }
  .runde2 {
    height: 150px;
  }
}
