* {
  margin: 0;
 
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Hind", sans-serif;
  background: linear-gradient(to right, #ece9e6, #ffffff);
}
header {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0%;
}
.nav-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0px;
  background-color: black;
  color: white;
  height: 50px;
  text-decoration: none;
  
}
.nav-bar li {
  margin: 1%;
}

li button{
  text-decoration: none;
  font-size: 30px;
  color: red;
  outline: none;
}
.menu-button {
  border: none;
  font-family: "Hind", sans-serif;
  background: transparent;
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.menu-button:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  font-size: 16px;
}
.bilde-header {
  width: 100%;
  display: flex;
  border-bottom:solid black 5px;
  transition: 0.8s;

 
}
.bilde-header:hover {
  opacity: 0.8;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.img1{
height: 28vh;
width: 31%;
}

.img2{
  height: 28vh;
  width: 38%;
  
}

.img3{
  height: 28vh;
  width: 31%;
  
