* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Hind", sans-serif;
  background: linear-gradient(to right, #ece9e6, #ffffff);
}
header {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  margin: 10px;
}
.nav-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 30px;
  background-color: black;
  color: white;
  height: 50px;
}
.nav-bar li {
  margin: 10px;
}
.menu-button {
  border: none;
  font-family: "Hind", sans-serif;
  background: transparent;
  color: white;
  font-size: 15px;
}
.menu-button:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  font-size: 16px;
}
